<%- include("partials/header") -%>
<h1>Compose</h1>

<form action="/compose" method="post">
  <div class="form-group mb-3">
    <label for="postTitle" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="postTitle"
      placeholder="Title"
      name="postTitle"
      style="max-width: 15%"
    />

    <label for="postBody" name="postBodyLabel" class="form-label">Post</label>
    <textarea
      style="max-width: 50%"
      class="form-control"
      id="postContent"
      rows="3"
      placeholder="Write post content here"
      name="postBody"
    ></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>
<%- include("partials/footer") -%>
